<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Tiny URL-Shortener</title>


  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

  <style>


  /* The version of Bourbon used in this Pen was 4.* */
  @import "bourbon";

  body{background: #eee url(http://subtlepatterns.com/patterns/sativa.png);}
  html,body{
      position: relative;
      height: 100%;
  }
  .wrapper {
  	margin-top: 80px;
    margin-bottom: 80px;
  }

  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #ffefd5;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;

    .form-signin-heading,
  	.checkbox {
  	  margin-bottom: 30px;
  	}

  	.checkbox {
  	  font-weight: normal;
  	}

  	.form-control {
  	  position: relative;
  	  font-size: 16px;
  	  height: auto;
  	  padding: 10px;
  		@include box-sizing(border-box);

  		&:focus {
  		  z-index: 2;
  		}
  	}

  	input[type="text"] {
  	  margin-bottom: -1px;
  	  border-bottom-left-radius: 0;
  	  border-bottom-right-radius: 0;
  	}

  	input[type="password"] {
  	  margin-bottom: 20px;
  	  border-top-left-radius: 0;
  	  border-top-right-radius: 0;
  	}
  }
  </style>

</head>

<body>
    <div class="wrapper">
    <div class="form-signin">
      <h2 class="form-signin-heading">URL-Shortener</h2>
      <input id="long_url" type="text" class="form-control" name="long_url" placeholder="Enter Long URL" required="" autofocus="" />
<br>
      <button id="shorten_url_btn" class="btn btn-lg btn-primary btn-block" type="submit">Shorten URL</button>
<br>
      <button id="old_links_btn" class="btn btn-lg btn-primary btn-block" type="submit">Old Links</button>
    </div>
  </div>

<!--  <script type="text/template" id="mydiv">
  <div id="myDiv" style="display:none;" class="form-signin">
    <h2 class="form-signin-heading">Your shortened URL:</h2>
  </div>
  </script>
-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">

  $(document).ready(function(){

  $("#shorten_url_btn").click(function(){

//################## url shortening algo ##################

//function fnv32a( str )
//{

  var str= $("#long_url").val();//using jquery
  //var str= document.getElementById('long_url').value;//using javascript
	var FNV1_32A_INIT = 0x811c9dc5;
	var hval = FNV1_32A_INIT;
	for ( var i = 0; i < str.length; ++i )
	{
		hval ^= str.charCodeAt(i);
		hval += (hval << 1) + (hval << 4) + (hval << 7) + (hval << 8) + (hval << 24);
	}
  hval>>>0;
  if(hval<0)
    hval=(-1)*hval;
//	return hval >>> 0;
//}

//##########################################################
hval.toString();
//alert(hval.length);
  s="chotu.com/"+hval.toString();

  var obj={
    "long_url":str,
    "shortened_url":s
  }

    $.ajax({//ajax request to send text field data that is converted to json object to controller and from there to mongodb
    type: 'POST',
    url: '/dashboard_database',
    data: obj,
    success: function(data){
//          window.location.pathname="/dashboard"
    }
  });

  return false;
  });
  });
  </script>

</body>
</html>
